<form action="/users/login" method="POST" class="col s12">
  <div class="modal-content">
    <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <input name="username" id="username_login" type="text" class="validate">
          <label for="username_login">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" id="password_login" type="password" class="validate">
          <label for="password_login">Password</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-light" type="submit">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
</form>