<nav class="blue darken-4">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">NextPR</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">More Info</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
      {{#if user}}
      <li class="nav-item">
        <a href="/users/logout" class="nav-link">Logout</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a href="#auth_modal" class="nav-link modal-trigger">Login</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/about">More Info</a>
  </li>
  <li>
    <a href="/contact">Contact</a>
  </li>
  {{#if user}}
  <li class="nav-item">
    <a href="/users/logout" class="nav-link">Logout</a>
  </li>
  {{else}}
  <li class="nav-item">
    <a href="#auth_modal" class="nav-link modal-trigger">Login</a>
  </li>
  {{/if}}
</ul>