<h3 class="center">Some Other Headline</h3>
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <div class="card-icon center">
          <i class="large material-icons">today</i>
        </div>
        <span class="card-title">Keep It Simple</span>
        <p>Quickly check your last PR so you know what you need to do for your next workout</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <div class="card-icon center">
          <i class="large material-icons">list</i>
        </div>
        <span class="card-title">Track</span>
        <p>Choose your muscle group. Choose an exercise. If it's a new PR, you'll be notified and the record will be saved</p>
      </div>
    </div>
  </div>
</div>