/** Utility Styles **/
.my-1 {
  margin: 10px 0;
}

.my-2 {
  margin: 20px 0;
}

/** End Utility Styles **/

.Header {
  position: relative;
  background-image: url('/img/header-img.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
}

.Header__lead {
  color: #fff;
  text-align: center;
  z-index: 1;
}

/** ADD MODAL **/

#add_modal {
  height: 400px;
}

/** PR CARDS **/

.Pr_cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

/** HIDE NUMBER INPUT SPINNER **/
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (min-width: 576px) {
  .Pr_cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .Pr_cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}