<table class="responsive-table">
  <thead>
    <tr>
      <th>Reps</th>
      <th>Max</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{reps}}</td>
      <td>{{weight}}</td>
    </tr>
  </tbody>
</table>