<h3 class="center">What do you want to do?</h3>
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <div class="card-icon center">
          <i class="large material-icons">add</i>
        </div>
        <span class="card-title">Add PRs
        </span>
        <p>Add a new PR to your list!</p>
      </div>
      <div class="card-action">
        <a class="modal-trigger" href="#add_modal">Add</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <div class="card-icon center">
          <i class="large material-icons">today</i>
        </div>
        <span class="card-title">View PRs</span>
        <p>Checkout your latest PRs</p>
      </div>
      <div class="card-action">
        <a href="/prs/latest">View</a>
      </div>
    </div>
  </div>
</div>
<!-- Add Modal -->
<div id="add_modal" class="modal">
  <div class="modal-content">
    <h5 class="center">Select A Muscle Group</h5>
    <form action="/prs/select" method="POST">
      <div class="input-field col s12">
        <select name="group">
          <option value="" disabled selected>Muscle Group</option>
          <option value="Chest">Chest</option>
          <option value="Back">Back</option>
          <option value="Legs">Legs</option>
          <option value="Arms">Arms</option>
          <option value="Shoulders">Shoulders</option>
        </select>
      </div>
      <div class="modal-footer">
        <button class="btn waves-effect waves-light" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
<!-- /Add Modal -->