<h3 class="center">What do you want to do?</h3>
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <div class="card-icon center">
          <i class="large material-icons">add</i>
        </div>
        <span class="card-title">Add PRs</span>
        <p>Add a new PR to your list!</p>
      </div>
      <div class="card-action">
        <a href="/prs/add/select">Add</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <div class="card-icon center">
          <i class="large material-icons">today</i>
        </div>
        <span class="card-title">View PRs</span>
        <p>Checkout your latest PRs</p>
      </div>
      <div class="card-action">
        <a href="/prs/latest">View</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <div class="card-icon center">
          <i class="large material-icons">list</i>
        </div>
        <span class="card-title">Update PRs</span>
        <p>Edit your PRs</p>
      </div>
      <div class="card-action">
        <a href="/prs/add">Update</a>
      </div>
    </div>
  </div>
</div>