<h3 class="center">Select A Muscle Group</h3>
<form action="/prs/add/select" method="POST">
  <div class="input-field col s12">
    <select name="group">
      <option value="" disabled selected>Muscle Group</option>
      <option value="Chest">Chest</option>
      <option value="Back">Back</option>
      <option value="Legs">Legs</option>
      <option value="Arms">Arms</option>
      <option value="Shoulders">Shoulders</option>
    </select>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>
</form>